<html>
<head>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/tailwind.css">

  <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
  
  <div class="container mx-auto p-4 lg:px-0">

    <div class="hero py-8 bg-base-200 rounded-lg">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">All about me</p>
        </div>
      </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-8">
      <div class="w-full">
        <img class="w-full h-96 rounded-lg" src="https://kit8.net/wp-content/uploads/edd/2022/04/software_developer_preview.jpg" />
      </div>
      <div class="w-full">
        <p class="prose">
          Hey there! My name is Jashandeep Singh, and I am a 20-year-old computer programming student from Ludhiana, Punjab, India. Currently, I am in my third semester at Seneca College, where I am dedicated to honing my skills and knowledge in the field of computer science.
          In addition to my academic pursuits, I am an avid sports enthusiast. I enjoy playing badminton and running, both of which help me maintain a balanced and healthy lifestyle. These activities not only keep me physically fit but also teach me valuable lessons in discipline, perseverance, and teamwork.
          I am excited about the future and the opportunities it holds. My goal is to integrate my technical expertise with my passion for programming to make a meaningful impact in the industry.
          Thank you for visiting my page, and I look forward to connecting with you!
        </p>
      </div>
    </div>
  </div>
</body>
</html>